@model IEnumerable<AmDemo.Mvc.Models.CustomerViewModel>
@{
    ViewBag.Title = "AutoMapper Like a Bro!";
}

<div class="jumbotron">
    <h1>AutoMapper Like a Bro!</h1>
    <p class="lead">Welcome to the AutoMapper like a Bro! MVC demo project.</p>
    <p><a href="https://github.com/tahirk-atos/automapperlikeabro" class="btn btn-primary btn-lg">github project page &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
        <h2>Customers:</h2>
        <table>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Age</th>
                <th>Gender</th>
            </tr>
            @foreach (var c in Model)
            {
            <tr>
                <td>@c.Firstname</td>
                <td>@c.Lastname</td>
                <td>@c.Age</td>
                <td>@c.Gender</td>
            </tr>
            }
        </table>
    </div>
    <div class="col-md-2">
    </div>
</div>